/*

[Master Stylesheet]

Project Name: winku (HMTL Template)
Version:    1.1
Last change:  4/september/18

====INDEX=====

01- general styling
02- sticky header 
03- login/landing page
04- home page topbar
05- timeline area
06- messages dropdowns
07- sidebar widgets
08- post sharing area
09- social icons
10- comment area 
11- search area
12- footer
13- widgets
14- side panel
15- short profile widget
16- svg button styling
17- 404 error page 
18- contact page
19- knowledge base page 
20- faq's page
21- photos page
22- favourit page 
23- edit basic info page
24- notification page
25- message page
26- loadmore 
27- responsive header
28- main menu
39- blog pages
40- blog detail

*/


/*=============== Fonts source Muli, Hobostd ===================*/

@import url('https://fonts.googleapis.com/css?family=Muli:300,400,400i,500,700,800');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@font-face {
    font-family: HoboStd;
    src: url('../fonts/HoboStd.ttf'), url('../fonts/HoboStd.eot');
}

/*===============
***General Styling
===============*/
html,body{
	font-family: "Muli", "Segoe Ui";
}
body {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #545454;
}

p {
    font-size: 14px;
    line-height: 26px;
    color: #8c8b8b;
}

a,
a:hover,
a:focus,
a:active {
    color: inherit;
    outline: none;
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}

img {
    height: auto;
    max-width: 100%;
}

.theme-layout {
    float: left;
    position: relative;
    width: 100%;
}

.theme-layout.boxed {
    background: none repeat scroll 0 0 #FFFFFF;
    float: none;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 1230px;
    -webkit-box-shadow: 0 0 6px #747474;
    -moz-box-shadow: 0 0 6px #747474;
    -ms-box-shadow: 0 0 6px #747474;
    -o-box-shadow: 0 0 6px #747474;
    box-shadow: 0 0 6px #747474;
}

section {
    float: left;
    position: relative;
    width: 100%;
}

.gap {
    float: left;
    padding: 60px 0;
    position: relative;
    width: 100%;
}

.gap.no-gap {
    padding: 0;
}

.gap.no-top {
    padding-top: 0px;
}

.gap.no-bottom {
    padding-bottom: 0px;
}

.gap2 {
    padding: 30px 0;
    position: relative;
}

.gap100 {
    padding: 100px 0;
    position: relative;
    float: left;
    width: 100%;
}

.gap100.no-gap {
    padding: 0;
}

.gap100.no-top {
    padding-top: 0;
}

.gap100.no-bottom {
    padding-bottom: 0;
}

.ext-gap {
    padding: 100px 0;
    float: left;
    width: 100%;
    position: relative;
}

.remove-ext {
    float: left;
    width: 100%;
    margin-bottom: -30px;
}

.remove-ext-40 {
    margin-bottom: -40px;
}

.remove-ext-50 {
    margin-bottom: -50px;
}

.merged {
    margin: 0px;
    padding: 0;
}

.merged > div {
    padding: 0;
}

.row.merged > div {
    padding: 0;
}

.merged.row {
    margin: 0;
}

.merged.row > div {
    padding: 0;
}

.parallax-fixed {
    height: 100%;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
}

.parallax {
    height: 100%;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.blackish:before,
.whitish:before,
.bluesh:before,
.pattern:before {
    background: #000;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.pattern:before {
    background: #088dcd url("../images/dot-pattern.png") repeat scroll 0 0;
    opacity: 0.45;
}

.whitish:before {
    background: rgba(255, 255, 255, .9);
}

.bluesh:before {
    background: #088dcd;
}

.exthigh-opacity:before {
    -webkit-opacity: .98;
    -moz-opacity: .98;
    -ms-opacity: .98;
    -o-opacity: .98;
    opacity: .98;
}

.high-opacity:before {
    -webkit-opacity: .95;
    -moz-opacity: .95;
    -ms-opacity: .95;
    -o-opacity: .95;
    opacity: .95;
}

.medium-opacity:before {
    -webkit-opacity: .85;
    -moz-opacity: .85;
    -ms-opacity: .85;
    -o-opacity: .85;
    opacity: .85;
}

.low-opacity:before {
    -webkit-opacity: .75;
    -moz-opacity: .75;
    -ms-opacity: .75;
    -o-opacity: .75;
    opacity: .75;
}

.gray-bg {
    float: left;
    width: 100%;
    //background: #f4f2f2;
    background: black;
}

[type="submit"],
button,
html [type="button"] {
    cursor: pointer;
}

textarea {
    resize: none;
}

a:hover.facebook {
    background: #516eab;
}

a:hover.instagram {
    background: #444;
}

a:hover.twitter {
    background: #55acee;
}

a:hover.google {
    background: #dd4b39;
}

a:hover.pinterest {
    background: #ca212a;
}

a:hover.youtube {
    background: #e62117;
}

a:hover.dribble {
    background: #1572b8;
}

a:hover.linkedin {
    background: #0077b5;
}

a:hover.tumblr {
    background: #36465d;
}

a:hover.rss {
    background: #e3a103;
}

a:hover.vk {
    background: #466991;
}

.checked {
    color: orange;
}


/*carousel nave style*/

ul.owl-carousel {
    padding-left: 0;
    list-style: none;
    float: left;
    width: 100%;
}

.owl-prev,
.owl-next {
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.owl-next {
    left: auto;
    right: 0;
}

.owl-prev,
.owl-next {
    color: transparent;
}

.owl-prev::before,
.owl-next::before {
    background: #489fe2;
    border-radius: 50%;
    color: #fff;
    content: "\f0d9";
    display: inline-block;
    font-family: fontawesome;
    font-size: 18px;
    left: 20px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
}

.owl-next::before {
    content: "\f0da";
    left: auto;
    right: 20px;
}

#html5-watermark {
    display: none !important;
}

iframe#html5boxiframevideo {
    height: 100%;
}

iframe {
    width: 100%;
}

.pdng0 {
    padding: 0;
}

#main,
#mainb,
#echart_mini_pie,
#echart_pie,
#echart_pie2,
#echart_donut,
#echart_line {
    height: 350px;
}

#echart_bar_horizontal,
#echart_world_map {
    height: 370px;
}


/*======================/
***** Home page 1
======================*/


/*-- page loader ----*/


/*.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/loader.gif) center no-repeat #fff;
}*/

#topcontrol {
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    transform: rotate(-15deg);
    transition: all 0.2s linear 0s;
    width: 40px;
    z-index: 99;
}

#topcontrol:hover {
    transform: rotate(0);
}


/*--- sticky header ---*/

header.stick {
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
}

header.sticky {
    position: fixed;
}


/*--- landing page ---*/

.log-reg-area > h2 {
    font-weight: bold;
    text-transform: capitalize;
}

.land-featurearea {
    background: #1fb6ff none repeat scroll 0 0;
    color: #fff;
    float: left;
    height: 100vh;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.land-meta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.land-meta > h1 {
    font-family: hobo std;
}

.land-meta > p {
    color: #fff;
    letter-spacing: 0.5px;
}

.log-reg-area > p {
    color: #878787;
    font-size: 14px;
}

.friend-logo {
    display: inline-block;
    width: 100%;
}

.friend-logo > span {
    font-family: hobo std;
    font-size: 200px;
    position: relative;
}

.friend-logo > span::before,
.friend-logo > span::after {
    background: #0a98dc none repeat scroll 0 0;
    border: 16px solid rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    content: "";
    height: 180px;
    left: -42px;
    position: absolute;
    top: 20px;
    width: 180px;
    z-index: -1;
}

.land-meta > a.folow-me:hover {
    text-shadow: 0 1px 1px #454545;
}

.login-reg-bg {
    background: #f4f7f6 none repeat scroll 0 0;
    float: left;
    height: 100vh;
    position: relative;
    width: 100%;
}

.log-reg-area {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 35px #e2e2e2;
    display: block;
    float: none;
    left: 50%;
    padding: 35px 55px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 505px;
}

.log-reg-area form .checkbox {
    display: inline-block;
    width: 50%;
}

.log-reg-area form .forgot-pwd,
.log-reg-area form .already-have {
    display: inline-block;
    font-size: 14px;
    text-align: right;
    width: 48.9%;
}

.log-reg-area form .forgot-pwd:hover,
.log-reg-area form .already-have:hover {
    text-decoration: underline;
}

.log-reg-area .checkbox label,
.form-radio label {
    color: #999;
    font-size: 13px;
}

.submit-btns {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
}

.form-radio > .radio {
    display: inline-block;
    margin-bottom: 0;
    width: 20%;
}

.form-radio {
    margin: 0;
}

.form-group {
    margin-bottom: 15px;
    margin-top: 15px;
    display: inline-block;
    width: 100%;
}

.log-reg-area.reg {
    display: none;
}

.login-reg-bg.show .log-reg-area.reg {
    display: block;
}

.login-reg-bg.show .log-reg-area.sign {
    display: none;
}


/*--- topbar ---*/

.topbar {
    //background: #fff;
    background: #1A1A1B;
    display: block;
    height: 60px;
    padding: 0 48px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    z-index: 99;
    position: relative;
}

.logo {
    display: inline-block;
    vertical-align: inherit;
    width: 24%;
    position: relative;
    z-index: 10;
}

.topbar > form {
    display: inline-block;
    vertical-align: sub;
    width: 26%;
    position: relative;
}

.top-area {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    width: 51%;
}

.top-area > ul {
    display: inline-block;
    list-style: outside none none;
    margin-bottom: 0;
    padding-left: 0;
    vertical-align: middle;
}

.top-area > ul > li {
    display: inline-block;
    margin-right: 25px;
    position: relative;
    vertical-align: top;
    z-index: 2;
}

.top-area > ul > li > a {
    color: #999;
}

.top-area .user-img {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    line-height: 60px;
}

.top-area .user-img > span.status {
    bottom: 10px;
    right: 5px;
}

.top-area > span.main-menu {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    margin-left: 20px;
    margin-right: -10px;
    vertical-align: inherit;
}

.top-area .user-img > img {
    border-radius: 50%;
    display: inline-block;
    transform: scale(0.7);
    vertical-align: inherit;
}

.form-search {
    position: absolute;
    right: -15px;
    top: 42px;
    width: 300px;
    opacity: 0;
    visibility: hidden;
}

.searched.active .form-search {
    opacity: 1;
    visibility: visible;
}

.form-search input {
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #999999;
    font-size: 15px;
    padding: 9px 18px;
    width: 100%;
}

.form-search button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #999;
    position: absolute;
    right: 5px;
    top: 9px;
}

.top-area > ul > li > a > span {
    bottom: -10px;
    font-size: 11px;
    position: absolute;
    right: -4px;
}


/*--- timeline area ---*/

.feature-photo .container-fluid {
    padding: 0 43px;
}

.feature-photo {
    display: block;
    position: relative;
    width: 100%;
}

.feature-photo > figure {
    margin-bottom: 0;
}

.feature-photo > figure img {
    display: inline-block;
    width: 100%;
}

.user-avatar {
    border: 8px solid rgba(255, 255, 255, 0.8);
    border-radius: 3px 25px 0;
    box-shadow: 0 1px 0 #e1e8ed;
    float: right;
    margin-top: -168px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.user-avatar > figure > img {
    width: 100%
}

.user-avatar > figure {
    margin-bottom: 0;
    position: relative;
}

.timeline-info {
    background: #fff none repeat scroll 0 0;
    display: block;
    line-height: 59px;
    width: 100%;
}

.timeline-info > ul {
    display: inline-block;
    list-style: outside none none;
    margin-bottom: 0;
    padding-left: 20px;
    vertical-align: middle;
    width: 100%;
}

.timeline-info > ul li {
    display: inline-block;
    margin-right: 50px;
    position: relative;
}

.timeline-info > ul li a {
    display: inline-block;
    font-size: 14px;
    margin-right: 30px;
    position: relative;
    line-height: initial;
    text-transform: capitalize;
    padding-bottom: 3px;
    font-weight: 400;
}

.timeline-info > ul li a:last-child {
    margin-right: 0;
}

.timeline-info .admin-name > span {
    bottom: 14px;
    color: #3a3a3a;
    font-size: 10px;
    line-height: 5px;
    position: absolute;
    right: 0;
}

.timeline-info .admin-name > h5 {
    color: #088dcd;
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
    vertical-align: super;
}

.timeline-info > ul li a::before {
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: all 0.2s linear 0s;
    visibility: hidden;
    width: 0;
}

.timeline-info > ul li a::after {
    border-bottom: 8px solid;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: -12px;
    content: "";
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    display: none;
}

.timeline-info > ul li a.active::after {
    display: block;
}

.timeline-info > ul li a:hover::before {
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.edit-phto {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    bottom: 100px;
    color: #fff;
    left: 275px;
    padding: 5px 20px;
    position: absolute;
    z-index: 9;
    border-radius: 3px;
    border: 1px solid transparent;
}

.edit-phto:hover {
    background: transparent none repeat scroll 0 0;
    border: 1px solid;
    color: #fff;
}

.fileContainer {
    color: #d8d8d8;
    font-size: 11px;
    margin: 0 0 0 5px;
    position: relative;
    text-transform: capitalize;
}

.fileContainer [type=file] {
    cursor: pointer;
    display: block;
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    right: 0px;
    text-align: right;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.edit-phto .fileContainer [type="file"] {
    height: 35px;
    top: -11px;
    width: 126px;
}

.user-avatar .edit-phto {
    border-radius: 0;
    bottom: -40px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    transition: all 0.3s linear 0s;
    padding: 5px;
    text-align: center;
}

.user-avatar:hover .edit-phto {
    bottom: 0;
    opacity: 1;
    visibility: visible;
}


/*--- dropdowns ---*/

.dropdowns {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e8ed;
    list-style: outside none none;
    max-height: 294px;
    overflow: auto;
    padding-left: 0;
    position: absolute;
    right: -50px;
    text-align: left;
    top: 42px;
    width: 260px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear 0s;
}

.dropdowns.active {
    opacity: 1;
    visibility: visible;
}

.drops-menu {
    list-style: outside none none;
    padding-left: 0;
}

.drops-menu > li > a {
    border-bottom: 1px solid #e1e8ed;
    display: inline-block;
    padding: 10px;
    width: 100%;
}

.drops-menu > li {
    display: inline-block;
    position: relative;
    width: 100%;
}

.drops-menu > li > .tag {
    color: #fff;
    display: inline-block;
    font-size: 11px;
    padding: 0 6px;
    position: absolute;
    right: 0;
    top: 0;
}

.drops-menu > li:nth-child(2n) > a {
    background: whitesmoke none repeat scroll 0 0;
}

.drops-menu > li a img {
    display: inline-block;
    max-width: 16.7%;
    vertical-align: top;
    width: 16.7%;
    border-radius: 100%;
}

.mesg-meta {
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
    width: 81%;
}

.mesg-meta > h6 {
    font-size: 13.5px;
    font-weight: 600;
    letter-spacing: 0.3px;
    margin-bottom: 0;
    text-transform: capitalize;
}

.mesg-meta > span {
    color: #757575;
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.mesg-meta > i {
    color: #999;
    font-size: 12px;
    font-style: normal;
}

.drops-menu > li > a:hover {
    background: #fafafa none repeat scroll 0 0;
}

.dropdowns > span {
    border-bottom: 1px solid #ccc;
    display: inline-block;
    font-size: 14px;
    padding: 5px 10px;
    text-align: center;
    width: 100%;
}

.dropdowns > a.more-mesg {
    display: inline-block;
    font-size: 14px;
    padding-bottom: 5px;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
}

.blue {
    background: #337ab7;
}

.red {
    background: #ed6b75;
}

.green {
    background: #33b7a0;
}

.dropdowns.active > a {
    background: #fafafa none repeat scroll 0 0;
    display: block;
    font-size: 13px;
    margin-bottom: 2px;
    padding: 5px 10px;
    text-align: center;
}

.dropdowns.active > a i {
    font-size: 11px;
    left: 8px;
    position: absolute;
    top: 10px;
}

.dropdowns.languages {
    width: 100px;
}

.dropdowns.active > a:hover {
    background: #f1f1f1 none repeat scroll 0 0;
}

.add-btn {
    bottom: 100px;
    position: absolute;
    right: 43px;
}

.add-btn > span {
    color: #fff;
    margin-right: 20px;
    text-shadow: 0 2px 0 #4a4a4a;
}

.add-btn > a:hover {
    background: transparent none repeat scroll 0 0;
    border: 1px solid;
}

.add-btn > a {
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 4px 20px;
    border: 1px solid transparent;
}


.activity-meta {
    display: inline-block;
    width: 100%;
}

.activity-meta > i {
    color: #999;
    float: left;
    font-size: 12px;
    width: 100%;
}

.activity-meta > span {
    display: inline-block;
    width: 100%;
    font-size: 13px;
    font-weight: 600;
}

.activity-meta > h6 {
    float: left;
    font-size: 13px;
    margin-bottom: 0;
    margin-top: 7px;
    width: 100%;
}

.activity-meta > h6 a {}

.activitiez > li::before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 2px;
}

.activitiez > li {
    padding-left: 12px;
}

.central-meta {
    //background: #fdfdfd none repeat scroll 0 0;
    //border: 1px solid #ede9e9;
    background: #1A1A1B;
    border-radius: 3px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid rgb(52, 53, 54);
}

.new-postbox {
    display: inline-block;
    width: 100%;
}

.new-postbox > figure {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: top;
    width: 10.4%;
}

.newpst-input {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    width: 95.5%;
}

.newpst-input > form {
    display: inline-block;
    width: 100%;
}
.newpst-input textarea {
    float: left;
    width: 100%;
    background: #1A1A1B;
    color: white;
}
.attachments {
    border: 1px solid #eee;
    display: block;
    padding: 10px;
    text-align: right;
    border-top: 0;
    background: #1A1A1B;
}

.attachments > ul {
    list-style: outside none none;
    margin-bottom: 0;
    padding-left: 0;
}

.attachments li {
    display: inline-block;
    margin-left: 5px;
}

textarea {
    border: 1px solid #eeeeee;
    border-radius: 6px 6px 0 0;
    padding: 10px;
    width: 100%;
    border-bottom: 0;
}

form button {
    border: medium none;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    padding: 3px 10px;
}

.attachments .fileContainer [type="file"] {
    right: 6px;
    top: -18px;
    width: 20px;
}

.friend-info {
    display: inline-block;
    position: relative;
    width: 100%;
}

.friend-info > figure {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    width: 8%;
}

.friend-name {
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
    width: 90%;
}

.friend-name > ins {
    float: left;
    font-weight: 700;
    width: 100%;
    font-size: 18px;
    text-decoration: none;
}

.friend-name > span {
    color: #999;
    float: left;
    font-size: 12px;
    text-transform: capitalize;
    width: 100%;
}

.post-meta {
}

.post-meta > img {
    float: left;
    width: 100%;
}

.description {
    float: left;
    margin-top: 12px;
    width: 100%;
}

.description > p {
    margin-bottom: 20px;
}

.description > span {
    color: #2a2a2a;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    display: inline-block;
    margin-bottom: 5px;
}

.description > p a {
    font-weight: 600;
}


/*-- sharing post area ----*/

.we-video-info {

}

.we-video-info > ul {
    float: left;
    width: 100%;
    line-height: 27px;
    padding-left: 0;
    margin-bottom: 0;
}

.social-media {
    vertical-align: sub;
}

.we-video-info > ul li {
    display: inline-block;
    font-size: 13px;
    margin-right: 40px;
}

.we-video-info > ul li span {
    font-size: 16px;
    font-weight: 400;
    margin-right: 3px;
    position: relative;
}

.we-video-info > ul li.upload-date {
    float: right;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.upload-date > i {
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    margin-left: 5px;
    text-transform: capitalize;
}

.we-video-info > ul li span.dislike {
    color: red;
    cursor: pointer;
    transition: all 0.2s linear 0s;
}

.we-video-info > ul li span ins {
    font-size: 11px;
    left: 20px;
    position: absolute;
    text-decoration: none;
    top: -10px;
}

.we-video-info > ul li span.like {
    color: green;
    cursor: pointer;
    transition: all 0.2s linear 0s;
}

.we-video-info > ul li span.like:hover .we-video-info > ul li span.dislike:hover {
    trnsform: scale(1.1);
}



/*--- load more ---*/

.lodmore {
    display: inline-block;
    width: 100%;
}

.btn-view.btn-load-more {
    background: #fff;
    border: medium none;
    border-radius: 100%;
    color: transparent;
    display: block;
    height: 50px;
    margin: 30px auto 0;
    position: relative;
    width: 50px;
    transition: all 0.2s linear 0s;
    z-index: 77;
}

.central-meta button.btn-view {
    background: #f1f1f1;
}

.btn-view.btn-load-more::before {
    color: #333;
    content: "\f01e";
    font-family: fontawesome;
    left: 50%;
    opacity: 1;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    z-index: 111;
    transition: all 0.2s linear 0s;
}

.btn-view.btn-load-more:hover::before {
    color: #fff;
    transform: translate(-50%, -50%) rotate(360deg);
}


/*--- responsive header ---*/

.responsive-header {
    display: none;
}

.mh-head {
    background: #4bb5ef;
    color: #fff;
    height: auto;
}

.mh-text {
    font-size: 16px;
    font-weight: bold;
}

.mh-head .hamburger-inner,
.mh-head .hamburger-inner:after,
.mh-head .hamburger-inner:before {
    background: #fff;
}

.circle-media.mm-listview {
    float: left !important;
    padding-left: 0;
    margin: 30px 0 0 0 !important;
}

.circle-media.mm-listview > li a {
    background: #e7e7e7 none repeat scroll 0 0;
    line-height: 32px;
    padding: 0;
    text-align: center;
    width: 32px;
}


/*.circle-media.mm-listview > li a:hover {
  color: #fff;
}*/

.mm-listview > li:not(.mm-divider)::after {
    display: none;
}

.res-menu ul.mm-listview > li,
.res-menu ul.mm-listview > li span {
    text-transform: uppercase;
    font-size: 12px;
}

.mm-navbar .mm-title {
    text-transform: uppercase;
}

.mh-head {
    float: left;
    width: 100%;
}

.mh-head .mh-text {
    display: inline-block;
    margin-top: 6px;
    padding: 0;
}

.mh-text > a {
    display: inline-block;
    font-family: hobostd;
    font-size: 20px;
    vertical-align: middle;
}

.mh-text img {
    display: inline-block;
    vertical-align: sub;
}

.mh-head .mh-form {
    padding: 10px 0;
}

.mm-panel.mm-hasnavbar.mm-opened .setting-row span {
    width: 72%;
}


/*--- sticky sidebar ---*/

#page-contents {
    position: relative;
}

.static,
.static > div {
    position: static !important;
}


/*--- sticky sidebar End ---*/


/*--- 100% radius images ---*/

#people-list figure img,
.new-postbox > figure img,
.friend-info > figure img,
.comet-avatar > img,
.followers > li figure img,
.invition figure img,
.nearly-pepls > figure img,
.peoples > li figure img,
.conversation-head > figure img,
.peoples-mesg-box > ul li > figure img,
.your-page > figure img,
.notification-box > ul li figure img {
    border-radius: 100%;
}


/*--- main menu ---*/

.top-area > ul.main-menu > li ul {
    left: 0;
    list-style: outside none none;
    padding-left: 0;
    position: absolute;
    text-align: left;
    top: 100%;
    background: #fff;
    width: 200px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 4px 7px 20px 0 rgba(0, 0, 0, 0.09);
    transition: all 0.2s linear 0s;
    border-radius: 0 0 5px 5px;
    border-top: 2px solid;
}

.top-area > ul.main-menu > li:hover > ul {
    opacity: 1;
    visibility: visible;
}

.top-area > ul.main-menu {
    float: left;
    margin-left: 0px;
    line-height: 60px;
}

.top-area > ul.main-menu > li {
    line-height: 59px;
    margin-right: 30px;
    padding-right: 30px;
    position: relative;
}

.top-area > ul.main-menu > li a {
    color: #575b5f;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0.3px;
}

.top-area > ul.main-menu > li::after {
    content: "";
    font-family: fontawesome;
    font-size: 13px;
    position: absolute;
    right: 10px;
    top: 0;
}

.top-area > ul.main-menu > li > ul li {
    line-height: initial;
}

.top-area > ul.main-menu > li > ul li a {
    color: #5f5f5f;
    display: inline-block;
    font-size: 13.5px;
    font-weight: normal;
    padding: 10px 15px;
    width: 100%;
    text-transform: capitalize;
    transition: all 0.2s linear 0s;
    border-radius: 0 0 5px 5px;
}

.top-area > ul.main-menu > li > ul li a:hover {
    background: #f5f5f5 none repeat scroll 0 0;
    padding-left: 17px;
}


.more-optns:hover > ul {
    opacity: 1;
    visibility: visible;
}

.more-optns > ul {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 10px 23px #8b8b8b;
    color: #333;
    line-height: initial;
    list-style: outside none none;
    margin-bottom: 0;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 22;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s linear 0s;
}

.more-optns > ul li {
    display: inline-block;
    font-size: 11px;
    line-height: 24px;
    width: 100%;
}

.chat-list {
    display: inline-block;
    padding: 15px;
    position: relative;
    width: 100%;
}

.chat-list > ul {
    margin: 0;
    padding-left: 0;
    max-height: 290px;
    overflow: hidden;
    position: relative;
    padding-right: 8px;
}

.chat-thumb {
    display: inline-block;
    vertical-align: top;
    width: 28px;
}

.notification-event {
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
    width: 84%;
}

.chat-thumb > img {
    border-radius: 100%;
}

.chat-message-item {
    background: #f0f4f9 none repeat scroll 0 0;
    border-radius: 7px;
    display: inline-block;
    font-size: 13px;
    padding: 12px;
}

.notification-date {
    color: #999;
    display: inline-block;
    font-size: 11px;
    width: 100%;
}

.chat-list > ul li.you .chat-thumb {
    float: right;
}

.chat-list > ul li.you .notification-event {
    float: right;
    margin-left: 0;
    margin-right: 8px;
}

.chat-list > ul li.you .chat-message-item {
    background: rgba(202, 239, 142, 0.55) none repeat scroll 0 0;
}

.text-box {
    position: relative;
}

.text-box > textarea {
    font-size: 14px;
    height: 50px;
    line-height: 27px;
    border-radius: 0;
    background: #f0f0f0;
}

.text-box > button {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
}


/*--- New home page ---*/

.top-search {
    float: left;
    margin-top: 7px;
    text-align: left;
    width: 32%;
}

.top-search form {
    display: inline-block;
    position: relative;
    width: 100%;
}

.top-search form input {
    //background: #f4f2f2 none repeat scroll 0 0;
    background: #272729;
    color: white;
    border: medium none;
    font-size: 13px;
    padding: 13px 30px;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.top-search button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #b6b6b6;
    font-size: 15px;
    position: absolute;
    right: 6px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.sidebar.left {
    float: right;
    width: 74%;
}

.sidebar.right {
    float: left;
    width: 74%;
}

.row.merged20 > div {
    padding: 0 7.5px;
}


/*--- fixed sidebar right ---*/

.fixed-sidebar {
    background: #fff none repeat scroll 0 0;
    height: 100vh;
    left: 0;
    padding-bottom: 30px;
    padding-top: 30px;
    position: fixed;
    top: 59px;
    width: 70px;
    z-index: 9;
    -webkit-box-shadow: 0 0 34px 0 rgba(63, 66, 87, 0.1);
    -moz-box-shadow: 0 0 34px 0 rgba(63, 66, 87, 0.1);
    -ms-box-shadow: 0 0 34px 0 rgba(63, 66, 87, 0.1);
    -o-box-shadow: 0 0 34px 0 rgba(63, 66, 87, 0.1);
    box-shadow: 0 0 34px 0 rgba(63, 66, 87, 0.1);
}

.fixed-sidebar.right {
    left: auto;
    right: 0;
}

.chat-friendz {
    display: inline-block;
    text-align: center;
    width: 100%;
    position: relative;
}

.chat-users {
    display: inline-block;
    list-style: outside none none;
    margin-bottom: 0;
    padding-left: 0;
    width: 100%;
    position: relative;
    max-height: 79vh;
}

.chat-users > li {
    display: inline-block;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}

.author-thmb {
    display: inline-block;
    position: relative;
    width: 100%;
}

.chat-users > li .author-thmb img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
}

.chat-users > li:last-child {
    margin-bottom: 0;
}

.fixed-sidebar .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    background-color: transparent !important;
}

.chat-friendz .chat-box {
    bottom: -40px;
}

.menu-left {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.left-menu {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
    max-height: 79vh;
}

.left-menu > li {
    display: inline-block;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
}

.left-menu > li a {
    color: #9196b1;
    display: inline-block;
    font-size: 20px;
}

.left-menu > li:last-child {
    margin-bottom: 0;
}

.post-title {
    display: inline-block;
    color: #d7dadc;
}

.post-title > h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    text-transform: capitalize;
}

.post-title > h4 a {
    display: inline-block;
    width: 100%;
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}

.post-title .p-date {
    color: #999;
    font-size: 10px;
    text-transform: uppercase;
}

.post-title .p-date > a {
    color: #444;
}
.post-text {
    color: #d7dadc;
}

.g-post-ranking > a {
    color: #747474;
    display: inline-block;
    font-size: 12px;
    margin-right: 20px;
}

.g-post-ranking > a i {
    margin-right: 10px;
}

.forum {
    color: #d7dadc;
}

.post-info {
    color: #818384;
}

.meta {
    font-size: 12px;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}